{% extends "base.html" %}{% load static %}
{% block title %}Promociones{% endblock title %}
{% block content %}



<!--contenido central de la pagina-->
<div class="container">
    <section>
        <div class="row" style="justify-content: center; margin-top: 2rem; ">
            <!--Promocion 1-->
            <div class="card mb-3" style="max-width: 540px; margin: 1em;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/promocion1.jpeg'%}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Botox capilar + corte de puntas</h5>
                            <p class="card-text">El botox capilar brinda una hidratación y nutrición profunda al pelo
                                frágil y quebradizo, dañado por coloraciones, herramientas de calor, tratamientos
                                químicos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Promocion 2-->
            <div class="card mb-3" style="max-width: 540px; margin: 1em;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/promocion2.jpeg'%}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Alisado Brasil Cacau</h5>
                            <p class="card-text">Brasil Cacau consiste en un tratamiento de alisado permanente de
                                cabellos, que reestructura y fortalece la fibra capilar.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Promocion 3-->
            <div class="card mb-3" style="max-width: 540px; margin: 1em;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/promocion3.jpeg'%}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Baño de color + Masaje de hidratación + Corte de puntas</h5>
                            <p class="card-text">Un baño de color reavivar coloraciones que llevan tiempo o para cambiar
                                el matiz (color) del cabello, aportando muchísimo brillo. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Promocion 4-->
            <div class="card mb-3" style="max-width: 540px; margin: 1em;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/promocion4.jpeg'%}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Coloracion + Masaje de hidratación</h5>
                            <p class="card-text">Con nuestros productos profesionales modificamos el color natural o no
                                natural de tu pelo. Se puede oscurecer o aclarar, y según el resultado que se busque
                                habrá que decolorar primero el cabello.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}