{% extends "base.html" %}{% load static %}
{% block title %}Servicios{% endblock title %}
{% block content %}


<div class="container">
    <section>
        <div class="row">
            <div class="col-sm">
                <div id="producto1">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/tratamientoCap (1).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tratamiento capilar</h5>
                            <p class="card-text">El tratamiento capilar es un proceso para mejorar la salud y apariencia
                                del cabello mediante la hidratación, nutrición, reparación y fortalecimiento del mismo.
                                Se personaliza según las necesidades de cada cabello.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div id="producto2">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/balage (1).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Balayage</h5>
                            <p class="card-text">El balayage es una técnica de coloración gradual y difuminada que crea
                                un efecto degradado en el cabello. Es una opción popular para un look natural y
                                luminoso. Se puede personalizar según el tono y la textura del cabello.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto.</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div id="producto3">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/bloques (2).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bloques de color</h5>
                            <p class="card-text">Un bloque de color es una técnica de teñido del cabello en la que se
                                aplica un solo color uniforme en todo el cabello, creando un aspecto llamativo y audaz.
                                Puede ser un color brillante o un tono más oscuro o más claro que el color natural del
                                cabello.
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div id="producto4">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/coloracion (1).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Coloracion</h5>
                            <p class="card-text">La coloración del cabello es el proceso de teñir el cabello con un
                                tinte permanente, semipermanente o temporal. Se puede utilizar para cambiar el tono del
                                cabello o para añadir reflejos. La coloración del cabello puede ser personalizada para
                                crear un look único y favorecedor para cada persona.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div id="producto5">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/corte (1).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Corte de cabello</h5>
                            <p class="card-text">Se realiza un corte de cabello para crear una forma, longitud y estilo
                                específicos. Se puede personalizar para adaptarse a la textura del cabello, la forma de
                                la cara y el estilo de vida de la persona.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div id="producto6">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/mechas (2).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mechas</h5>
                            <p class="card-text">Las mechas son una técnica de coloración del cabello en la que se
                                aplican secciones de cabello selectivas y se las aclara para crear un contraste con el
                                resto del cabello. Las mechas pueden ser sutiles o audaces y añaden dimensión y
                                profundidad al cabello.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm mx-auto">
                <div id="producto7">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/mechas bab (1).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mechas babylight</h5>
                            <p class="card-text">Las mechas Babylight son una técnica de coloración del cabello en la
                                que se aplican finas mechas de cabello para lograr un efecto de iluminación natural. Se
                                aplican de manera estratégica para añadir dimensión y brillo al cabello, creando un
                                aspecto sutil y natural.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm mx-auto">
                <div id="producto8">
                    <div class="card my-4 border-solid" style="width: 18rem;">
                        <img src="{% static 'img/alisados (1).jpeg'%}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alisado Permanente</h5>
                            <p class="card-text">El alisado permanente es un tratamiento que te deja el cabello liso por
                                mas tiempo que uno tradicional. Es una buena opción si no te gusta tu cabello rizado o
                                con frizz. Te dejará con un cabello suave y fácil de peinar.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Consultar por su presupuesto.</li>
                        </ul>
                        <div class="card-body">
                            <a href="contactos.html" class="card-link">Pedir hora</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

</div>
{% endblock content %}